// font
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;

// color
$activeBg: #3c495f5f;
$background: #ffffff;
$backgroundLight: #263340;
$activeBackground: #3c495f5f;
$white: #ffffff;
$black: #000000;
$border: #708090;
$primaryColor: #60a5fa;
$activeBorder: #3b82f6;
$grayText: #9ca4af;
$danger: #dc2626;
$dangerHover: #dc26268e;
$gray: #6b7280;

// layout
body {
   margin: 0;
   font-family: $font;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

* {
  background-color: $background;
  color: $black;
 //box-sizing: border-box;
  margin: 0;
}

.layout {
  max-width: 704px;
  margin: 0 auto;
  height: 100dvh;
}